{% from "macros/fields.html" import render_text %}

{% extends "layout.html" %}

{% block head_content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}" />
{% endblock %}

{% block main_content %}
  <form name="add_movie" method="post" novalidate class="form">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <span class="form__flash form__flash--{{ category }}">{{ message }}</span>
      {% endfor %}
    {% endwith %}

    <div class="form__container">
      {{ form.hidden_tag() }}
      {{ render_text(form.email) }}
      {{ render_text(form.password) }}
      {{ render_text(form.confirm_password) }}

      <span class="form__small">
        Already have an account? <a href="{{url_for('pages.login')}}" class="form__link">Log in here</a>
      </span>
    </div>

    <div>
      {{ form.submit(class="button button--form") }}
    </div>

  </form>
{% endblock %}
